<script src="scripts/fancybox.pack.js"></script>
        <script src="scripts/jquery.fancybox-buttons.js"></script>
        <script src="scripts/mediaelement-and-player.js"></script>
<section id="pieenso" class="container" style="padding-top:150px;">

        <div class="calculator-result-title" style="padding-bottom:30px;" align="center">PIEENSO en la operación</div>
        <div style="float:right;" class="hintModal"><div class="hintModal_container">Un compendio de procedimientos más frecuentes que el equipo de salud realiza en sus actividades diarias frente a paciente con el fin de mejorar la calidad en la ejecución de dichos procedimientos. Está respaldada en la opinión y practica de prestigiadas instituciones nacionales e internacionales.</div><img style="width:80%;" src="images/aviso.png"></div>
        <div class="calculator-result-title" style="padding-bottom:80px;" align="center">Procedimientos mas frecuentes en diabetes</div>
      
        <div class="row">
                <div class="col-md-4 gridPad down view view1 view-fifth">
                    <img class="adjustImg" src="images/pieenso/01.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Cómo hacer la correcta medición  de la agudeza visual?
                        </p>
                        <a class="info fancy_video"  href="resources/01_visual.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Cómo hacer la correcta medición  de la agudeza visual ?" title="¿Cómo hacer la correcta medición  de la agudeza visual?">VER VIDEO</a>

      

                    </div>
                </div>
                <div class="col-md-4 gridPad down view view2 view-fifth">
                    <img class="adjustImg" src="images/pieenso/02.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Cómo hacer la correcta exploración del reflejo rojo ocular?
                        </p>
                        <a style="bottom: 30px;" class="info fancy_video"  href="resources/02_ocular.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Cómo hacer la correcta exploración del reflejo rojo ocular?" title="¿Cómo hacer la correcta exploración del reflejo rojo ocular?">VER VIDEO</a>
                    </div>
                </div>
                <div class="col-md-4 gridPad down view view3 view-fifth">
                    <img class="adjustImg" src="images/pieenso/03.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Cómo hacer la correcta exploración bucal?
                        </p>
                        <a class="info fancy_video"  href="resources/03_bucal.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Cómo hacer la correcta exploración bucal?" title="¿Cómo hacer la correcta exploración bucal?">VER VIDEO</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 gridPad down view view4 view-fifth">
                    <img class="adjustImg" src="images/pieenso/04.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Qué es un plato saludable?
                        </p>
                        <a class="info fancy_video"  href="resources/04_nutricion.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Qué es un plato saludable?" title="¿Qué es un plato saludable?">VER VIDEO</a>
                    </div>
                </div>
                <div class="col-md-4 gridPad down view view5 view-fifth">
                    <img class="adjustImg" src="images/pieenso/05.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Cuál es el tamaño ideal de las porciones?
                        </p>
                        <a class="info fancy_video"  href="resources/05_porciones.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Cuál es el tamaño ideal de las porciones?" title="¿Cuál es el tamaño ideal de las porciones?">VER VIDEO</a>
                    </div>
                </div>
                <div class="col-md-4 gridPad down view view6 view-fifth">
                    <img class="adjustImg" src="images/pieenso/06.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Cómo fijar la intensidad de la actividad física?
                        </p>
                        <a class="info fancy_video"  href="resources/06_intensidadFisica.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Cómo fijar la intensidad de la actividad física?" title="¿Cómo fijar la intensidad de la actividad física?">VER VIDEO</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 gridPad down view view4 view-fifth">
                    <img class="adjustImg" src="images/pieenso/07.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Cómo elegir el calzado adecuado?
                        </p>
                        <a class="info fancy_video"  href="resources/07_calzado.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Cómo elegir el calzado adecuado?" title="¿Cómo elegir el calzado adecuado?">VER VIDEO</a>
                    </div>
                </div>
                <div class="col-md-4 gridPad down view view5 view-fifth">
                    <img class="adjustImg" src="images/pieenso/08.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Cómo se prepara y aplica la insulina?
                        </p>
                        <a class="info fancy_video"  href="resources/08_insulina.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Cómo se prepara y aplica la insulina?" title="¿Cómo se prepara y aplica la insulina?">VER VIDEO</a>
                    </div>
                </div>
                <div class="col-md-4 gridPad down view view6 view-fifth">
                    <img class="adjustImg" src="images/pieenso/09.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Qué hacer en caso de hipoglucemia?
                        </p>
                        <a class="info fancy_video"  href="resources/09_hipoglucemia.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Qué hacer en caso de hipoglucemia?" title="¿Qué hacer en caso de hipoglucemia?">VER VIDEO</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 gridPad down view view4 view-fifth">
                    <img class="adjustImg" src="images/pieenso/10.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Qué hacer con una persona con diabetes en días de enfermedad concomitante?
                        </p>
                        <a style="bottom: 30px;" class="info fancy_video"  href="resources/10_concomitante.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Qué hacer con una persona con diabetes en días de enfermedad concomitante?" title="¿Qué hacer con una persona con diabetes en días de enfermedad concomitante?">VER VIDEO</a>
                    </div>
                </div>
                <div class="col-md-4 gridPad down view view5 view-fifth">
                    <img class="adjustImg" src="images/pieenso/11.jpg" />
                    <div class="mask">
                        <p class="mp4Desc">
                          ¿Cómo se realiza la higiene dental en diabetes?
                        </p>
                        <a class="info fancy_video"  href="resources/11_dentalDiabetes.mp4" data-width="480" data-height="480" data-poster="" data-caption="¿Cómo se realiza la higiene dental en diabetes?" title="¿Cómo se realiza la higiene dental en diabetes?">VER VIDEO</a>
                    </div>
                </div>
                <div class="col-md-4 gridPad down view view6 view-fifth">
                    
                </div>
            </div>
      
    </section>
